<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Employee Manager</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
		crossorigin="anonymous">

</head>

<body>
	<div class="container my-2">
		<h1>Employee List</h1>
		<a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3 mt-2">Create New Employee</a>
		<br /><br />
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Employee ID</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.id}">Employee ID</td>
					<td th:text="${employee.firstName}">First Name</td>
					<td th:text="${employee.lastName}">Last Name</td>
					<td th:text="${employee.email}">Email</td>
					<td>
						<a th:href="@{'/edit/' + ${employee.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/delete/' + ${employee.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>